@import '../../variables.scss';

.graph {
    width: 100%;
    margin: 0 auto;

    text tspan {
        fill: #f1c40f !important;
        font-size: 5rem !important;

        @media only screen and (max-width: $bp-xl) {
            font-size: 6rem !important;
        }

        @media only screen and (max-width: $bp-l) {
            font-size: 7rem !important;
        }
        
        @media only screen and (max-width: $bp-s) {
            font-size: 5rem !important;
        }

        @media only screen and (max-width: $bp-xs) {
            font-size: 9rem !important;
        }
    }

    line {
        opacity: 0;
    }

    .VictoryContainer {
        width: 80% !important;
        margin: 0 auto;
    }
}