@import '../../../variables.scss';

.weather-box {
    width: 38.4rem;
    height: 48rem;
    background-color: rgba(white, 0.15);
    padding: 4rem;
    box-shadow: 0 2rem 4rem rgba(black, 0.2);
    border-radius: 3px;
    transition: opacity 2s, transform 0.2s, box-shadow 0.2s;

    &:nth-child(5) {
        margin: 0 auto 0 15rem;

        @media only screen and (max-width: $bp-s) {
            margin: 0;
        }
    }

    &:hover {
        transform: translateY(-1rem) scale(1.03);
        box-shadow: 0 2rem 2rem rgba(black, 0.4);

    }

    &__day,
    &__icon {
        margin-bottom: 3rem;
    }

    &__icon {
        width: 13rem;
    }

    &__day,
    &__cond {
        font-size: 3.4rem;
        letter-spacing: -1px;
        line-height: 5.8rem;
        color: white;
        text-align: left;
        display: block;
        margin-bottom: 3rem;
    }

    &__degrees {
        font-size: 7.2rem;
        letter-spacing: -2px;
        line-height: 5.8rem;
        font-weight: 300; 
        text-align: left;
        display: block;
        margin-bottom: 1rem;
        margin-top: 4rem;
    }

    @media only screen and (max-width: $bp-s) {
        align-self: center;
        margin-bottom: 6rem;
    }
}

.first:nth-child(5),
.second:not(:nth-child(5)) {
    z-index: -1;
    position: absolute;
    opacity: 0;
}
