.graph {
    width: 100%;
    margin: 0 auto;

    text tspan {
        fill: whitesmoke !important;
        font-size: 2rem !important;
    }

    line {
        display: none;
    }

    .VictoryContainer {
        width: 80% !important;
        margin: 0 auto;
    }
}