@import './variables.scss';

html {
    font-size: 62.5%;
    box-sizing: border-box;

    @media only screen and (max-width: $bp-xxl) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-xl) {
        font-size: 43.75%;
    }

    @media only screen and (max-width: $bp-l) {
        font-size: 37.5%;
    }

    @media only screen and (max-width: $bp-m) {
        font-size: 31.25%;
    }

    @media only screen and (max-width: $bp-s) {
        font-size: 62.5%;
    }

    @media only screen and (max-width: $bp-xs) {
        font-size: 37.5%;
    }
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: white;
}



