@import '../../variables.scss';

.nav {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: $bp-s) {
        order: 1;
        align-self: center;
    }
}

.move {   
    @media only screen and (min-width: $bp-s) {
        width: 96%;
    }
}